body {
    background-color: #d8dee8 ; /* fond */
    color: #333; /*texte */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444; /*titres*/
  }
  
  a {
    color: #007BFF; /*liens*/
  }
  

.navbar {
    background-color: #495a6e !important;
    border-bottom: 2px solid #002650; /* bordure */
  }
  
  .navbar a {
    color: white !important;
  }
  
  
  .navbar a:hover {
    color: #FFD700 !important; /* quand la souris est sur les liens */
  }


#bike-animation {
    position: fixed;
    bottom: 20px;
    left: -100px; /* Hors de l'écran au début */
    width: 100px;
    height: 100px;
    z-index: 9999; /* Toujours au-dessus */
    display: block; /* Caché par défaut */
  }
  
  /* Animation du vélo qui roule */
  @keyframes bike-roll {
    from {
      left: -100px; /* Commence à gauche hors écran */
    }
    to {
      left: 110%; /* Sort par la droite */
    }
  }
  .bike-active {
    display: block; /* Montre le vélo */
    animation: bike-roll 1.5s linear forwards; /* Animation sur 1.5 secondes */
  }